.inputField {
    border: 1px solid #e0e0e0;
    padding-left: 8px;
    height: 40px;
    width: 100px;
    margin-top: 10px;
}

.inputField:hover {
    border-color: black;
    background-color: black;
}

.inputField:focus {
    border-color: green;
    background-color: green;
    padding-left: 15px;
}