.inputField {
    border: 1px solid #e0e0e0;
    padding-left: 8px;
    height: 40px;
    width: 100px;
    margin-top: 15px;
}

.inputField:hover {
    border-color: blue;
    background-color: blue;
}

.inputField:focus {
    border-color: grey;
    background-color: grey;
    padding-left: 15px;
}